
header {
    background-color: black;
}

header .title, footer .title {
    color: #FBDE16;
    font-size: 2em;

}

/*detail*/

#details {
    color: white;
    background-color: #111;
}

#details h1{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}

#details ul{
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
}

#details li{
    font-weight: bold;
    font-size: 1.15em;
}

#details li span{
    color: #FBDE16;
}

li.description{
    padding-top: 10px;
    padding-right: 10px;
}
/* end detail*/

/* index*/

.event-title{
    padding-left: 10px;
    padding-top: 7px;
    color: black
}

.list div.event-icon{
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.list div.beer {
    background-image: url('/assets/beer-mug.png');
}

.list div.code {
    background-image: url('/assets/laptop.png');
}

.list div.meet {
    background-image: url('/assets/gathering.png');
}

.event-day {
    text-align: center;
}

li div.onright{
    float: right !important;
    padding-top: 10px;
    clear: right;
}

.list li.event_tap{
    background-color: #FBDE16;
    padding: 4px 6px 35px 8px;
    clear: both;
    border-bottom: 2px inset #333;
}

.event_tap .icon{
    color: #333;
}

.list small.event-wday{
    background-color: black;
    color: white;
    font-size: x-small; 
    padding: 2px;
}

.event-day{
    background-color: #FE9;
    color: black;
    border: 1px solid black;
}
/* end index*/