<body class="app">
    <!--
        First, you have to do is create a LungoJS Application instance in the file app.js.
        ...and use a Webkit browser as Chrome or Safari.
    -->
    <section id="index">
        <header id="index-header" data-title="Eventos este mes">
        </header>

        <footer></footer>

        <article id="event-list" class="list"></article>

    </section>

    <section id="eventdetail" >

        <header data-back="left" data-title="Event Detail"></header>

        <footer id="detail_footer"></footer>

        <article id="details"></article>

    </section>
</body>
